.img1{
	background-image: url(../imgs/turtle.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.center{
	margin: 0 auto;
}

.minis{
	background-image: url(../imgs/owl.jpg);
	width: 40em;
	height: 30em;
	background-attachment: fixed;
}